<!DOCTYPE html>
<html>
  <head>
    <title>Biljana Rakanović | FB</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="FBstyle.css">
  </head>
  <body>
    <h1>F a k e B o o k</h1>
    <hr>
    <br>
    <div class="Src">
      <input type="text" placeholder="Išči po imenu"><button class="button" type="submit">Išči</button>
    </div>
    <h2><i<>Biljana Rakanović</i></h2>
    <img src="https://i.pinimg.com/avatars/bilcy_1394264436_280.jpg" height="300" width="300">
    <br>
    <div style="text-align:center;">
    <button>Dodaj za prijatelja</button> <button>Pošllji sporočilo</button>
    </div>
    <br>
    <br>
    <div class="podatki">
      <p><strong>Število FB prijateljev:</strong> 514</p>
      <p><strong>Kraj:</strong> Celje</p>
      <p><strong>Starost:</strong> 27 let</p>
      <p><strong>Zaposlitev:</strong> <a href="http://rakan.si"><i>RAKAN d.o.o.</i></a></p>
      <p><strong>Izobrazba:</strong> Inž. gradbeništva</p>
      <p><strong>Hobi/ji:</strong> Potapljanje, potovanje, ples.</p>
    </div>
  </body>
</html>
